@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
	--color-blue-500: #263779;
	--color-gold-500: #ddb42c;
	--color-lavender-500: #9678b6;
	--color-dark-500: #222222;
	--color-light-500: #EEEEEE;

	--font-headings: 'Playfair Display', serif;
	--font-body: 'EB Garamond', serif;
}
