---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Media — DCBMUN">
	<div class="w-full h-30 bg-gold-500 flex items-center justify-center">
		<h1 class="text-4xl font-headings font-bold text-light-500">Media</h1>
	</div>
	<div class="w-1/2 mx-auto my-10 font-body">
		<p class="text-xl text-dark-500 text-center">
			We are working hard on this!
		</p>
		<br />
		<p class="text-xl text-dark-500 text-center">
			Coming soon.
		</p>
		<br />
		<p class="text-xl text-dark-500 text-center">
			Were you looking for <a href="#apply" class="underline">Staff Applications?</a>
		</p>
		<!-- TODO: Add link to staff applications -->
	</div>
</Layout>
