---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About — DCBMUN">
	<div class="w-full h-30 bg-blue-500 flex items-center justify-center">
		<h1 class="text-4xl font-headings font-bold text-light-500">About</h1>
	</div>
	<div class="w-1/2 mx-auto my-10 font-body">
		<p class="text-xl text-dark-500 text-center">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer laoreet massa
			at finibus congue. Donec viverra lacus at elementum scelerisque. Proin aliquet
			blandit malesuada. Vestibulum ac leo porttitor, pharetra ante a, pretium quam.
			Vestibulum ornare egestas est, a accumsan neque pulvinar ut. Sed sed eros vel
			lacus sagittis ornare. Curabitur vel tristique nunc.
		</p>
		<br />
		<p class="text-xl text-dark-500 text-center">
			Etiam nec nisi vehicula odio scelerisque faucibus. Etiam porttitor posuere nulla,
			ac iaculis sapien posuere eget. Aliquam erat volutpat. Donec ullamcorper velit at
			mi lobortis auctor. Vivamus enim sem, rhoncus ut scelerisque non, posuere ut justo.
			Mauris non turpis placerat, vestibulum elit et, convallis felis. Duis blandit, magna
			vitae finibus bibendum, odio risus posuere velit, sit amet tincidunt mauris dui eu
			orci.
		</p>
		<br />
		<p class="text-xl text-dark-500 text-center">
			Aenean porttitor urna vitae eros fringilla, non hendrerit libero fermentum. Donec viverra
			malesuada tellus, at maximus leo euismod ac. Vivamus gravida lorem enim, vel malesuada diam
			fermentum quis. Curabitur eu tellus elit. Maecenas facilisis id felis eu varius. Pellentesque
			ut urna id lorem fringilla laoreet. Nunc porttitor dolor non leo efficitur, nec pretium nisl
			interdum.
		</p>
	</div>
	<div class="w-1/2 mx-auto my-10 bg-gold-500 h-70 rounded-xl">

	</div>
	<div class="w-full h-30 bg-blue-500 flex items-center justify-center">
		<h1 class="text-4xl font-headings font-bold text-light-500">Secretariat</h1>
	</div>
	<div class="w-1/2 mx-auto my-10 font-body">
		<p class="text-xl text-dark-500 text-center">
			Coming soon.
		</p>
	</div>
	<div class="w-full h-30 bg-blue-500 flex items-center justify-center">
		<h1 class="text-4xl font-headings font-bold text-light-500">Staff</h1>
	</div>
	<div class="w-1/2 mx-auto my-10 font-body">
		<p class="text-xl text-dark-500 text-center">
			Coming soon.
		</p>
	</div>
</Layout>
