---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Committees — DCBMUN">
	<div class="w-full h-30 bg-blue-500 flex items-center justify-center">
		<h1 class="text-4xl font-headings font-bold text-light-500">Committees</h1>
	</div>
	<div class="w-1/2 mx-auto my-10 font-body">
		<p class="text-xl text-dark-500 text-center">
			This iteration of DCBMUN features two unique committees. The diversity provided by including a beginner- & intermediate-level committee ensures that delegates of all ability may participate.
		</p>
		<br />
		<p class="text-xl text-dark-500 text-center">
			Please find the committee subpages below.
		</p>
		<p class="text-xl text-dark-500 text-center">
			To see the overview of available countries and positions in each committee, access their country matrices from their respective subpages.
		</p>
	</div>
	<hr class="my-5 h-1 border-none bg-blue-500 w-3/5 mx-auto rounded-full" />
	<div class="w-1/2 mx-auto my-15 font-body">
		<p class="text-xl text-center"><a href="/committees/disec" class="text-dark-500 hover:underline">Disarmament and International Security Committee (DISEC)</a></p>
		<br />
		<p class="text-xl text-center"><a href="/committees/hcc" class="text-dark-500 hover:underline">Historic Crisis Committee (HCC)</a></p>
	</div>
	<hr class="my-5 h-1 border-none bg-blue-500 w-3/5 mx-auto rounded-full" />
	<div class="w-1/2 mx-auto my-10 font-body">
		<p class="text-xl text-dark-500 text-center">
			Position papers are not mandatory for participation but are highly recommended and required for award considerations.
		</p>
		<br />
		<p class="text-xl text-dark-500 text-center">
			For any inquiries regarding committees, contact Sharlene Peng at <a href="mailto:delaffairs.dcbmun@gmail.com" class="text-dark-500 underline">delaffairs.dcbmun@gmail.com</a>
		</p>
	</div>
</Layout>
