---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home — DCBMUN">
	<div class="w-full h-60 bg-blue-500 flex flex-col items-center justify-center">
		<h1 class="text-5xl font-headings font-bold text-light-500">Dr. Charles Best Model UN</h1>
		<hr class="my-5 h-1 border-none bg-light-500 w-1/2 mx-auto rounded-full" />
		<p class="text-xl font-body text-light-500">Winter 2027 | The First Iteration | Location TBA</p>
	</div>
	<div class="w-full h-30 bg-gold-500 flex items-center px-3 my-1">
		<h1 class="text-3xl font-headings font-bold text-light-500">Registration</h1>
		<p class="text-xl font-body text-light-500 w-full text-right">Visit our <strong>registration</strong> tab to be a part of the first iteration of DCBMUN.</p>
	</div>
	<a href="/committees" class="w-full h-30 bg-blue-500 flex items-center px-3 my-1">
		<h1 class="text-3xl font-headings font-bold text-light-500">Committees</h1>
		<p class="text-xl font-body text-light-500 w-full text-right">Visit our <strong>committees</strong> tab to see our various topics that will set the stage for your participation in DCBMUN.</p>
	</a>
	<div class="w-full h-30 bg-gold-500 flex items-center px-3 my-1">
		<h1 class="text-3xl font-headings font-bold text-light-500">Applications</h1>
		<p class="text-xl font-body text-light-500 w-full text-right">Visit our <strong>apply</strong> tab to be a leader in the first iteration of DCBMUN.</p>
	</div>
	<div class="w-3/5 mx-auto my-5 font-body text-xl text-center">
		<p>
			Dr. Charles Best Model United Nations (DCBMUN) is a student-run, not-for-profit
			Model United Nations conference designed to introduce high school students to a
			world of diplomacy, debate, and collaboration. As the inaugural iteration, DCBMUN
			aims to create an engaging environment where both experienced delegates and
			newcomers can develop confidence, sharpen their public speaking skills, and explore
			global issues through problem-solving.
		</p>
		<br/>
		<p>
			Founded on the belief that opportunities for learning and leadership should be
			accessible to everyone, DCBMUN emphasizes inclusion, inquisitiveness, and innovation.
			Whether delegates are attending their first conference or looking to strengthen their
			diplomatic abilities, DCBMUN offers a supportive environment where every delegate is
			encouraged to participate, collaborate, and grow with confidence.
		</p>
		<br />
		<p>
			We hope to see you at the premier iteration of DCBMUN early next winter.
		</p>
		<br />
		<p>
			For more information, feel free to contact us at <a href="mailto:conference@dcbmun.org" class="underline">conference@dcbmun.org</a>.
		</p>
	</div>
</Layout>
