---
import { Icon } from 'astro-icon/components';
---

<footer class="grid grid-cols-1 lg:grid-cols-3 gap-4 p-2.5 text-[15px] text-light-500 bg-lavender-500 text-center">
	<div>
		<h3 class="text-[20px] font-headings font-semibold">Useful Links</h3>
		<ul>
			<li><a href="/" class="text-light-500 hover:text-white">Home</a></li>
			<li><a href="/about" class="text-light-500 hover:text-white">About</a></li>
			<li><a href="#schedule" class="text-light-500 hover:text-white">Schedule</a></li>
			<li><a href="#registration" class="text-light-500 hover:text-white">Registration</a></li>
			<li><a href="#venue-policy" class="text-light-500 hover:text-white">Venue Policy</a></li>
			<li><a href="#conference-policy" class="text-light-500 hover:text-white">Conference Policy</a></li>
			<li><a href="#conference-expectations" class="text-light-500 hover:text-white">Conference Expectations</a></li>
			<!-- TODO: Update links and initialize pages -->
			<!-- NOTE: Conference policy, venue policy, conference expectations are links to PDFs -- coming soon -->
		</ul>
	</div>
	<div class="self-center">
		<h3 class="text-[20px] font-headings">Copyright © 2026 DCBMUN</h3>
		<h3 class="text-[20px] font-headings">Made with ❤️ by <a href="https://www.linkedin.com/in/paya-maroufi/" target="_blank" rel="noopener noreferrer" class="text-light-500 hover:text-white">Paya Maroufi</a></h3>
	</div>
	<div>
		<h3 class="text-[20px] font-headings font-semibold">Contact</h3>
		<ul>
			<li>General Inquiries: <a href="mailto:secgen.dcbmun@gmail.com" class="text-light-500 hover:text-white">secgen.dcbmun@gmail.com</a></li>
			<li>Delegate Concerns: <a href="mailto:delaffairs.dcbmun@gmail.com" class="text-light-500 hover:text-white">delaffairs.dcbmun@gmail.com</a></li>
			<li>Policy Inquiries: <a href="mailto:logistics.dcbmun@gmail.com" class="text-light-500 hover:text-white">logistics.dcbmun@gmail.com</a></li>
		</ul>
		<div class="flex justify-center items-center gap-4 p-6">
			<a href="#instagram" target="_blank" rel="noopener noreferrer" class="text-light-500 hover:text-white transition-colors transition-transform hover:rotate-7 hover:scale-105" aria-label="Instagram">
				<Icon name="fa6-brands:instagram" size={24} />
			</a>
			<a href="https://www.linkedin.com/company/dr-charles-best-model-united-nations/" target="_blank" rel="noopener noreferrer" class="text-light-500 hover:text-white transition-colors  transition-transform hover:rotate-7 hover:scale-105" aria-label="LinkedIn">
				<Icon name="fa6-brands:linkedin" size={24} />
			</a>
			<a href="#youtube" target="_blank" rel="noopener noreferrer" class="text-light-500 hover:text-white transition-colors  transition-transform hover:rotate-7 hover:scale-105" aria-label="YouTube">
				<Icon name="fa6-brands:youtube" size={24} />
			</a>
			<!-- TODO: Update socials links after accounts are created -->
		</div>
	</div>
</footer>
